
<section class="sign-in-page">
  <div class="container bg-white mt-5 p-0">
    <div class="row no-gutters">
      <div class="col-sm-6 align-self-center">
        <div class="sign-in-from">
          <h1 class="mb-0">Reset Password</h1>
          <p>Enter your email address and we'll send you an email with instructions to reset your password.</p>
          <%= form_with url: send_recover_path, method: :post, id: 'myForm', multipart: true do |form| %>
            <div class="form-group">
              <label for="exampleInputEmail2">Email Address</label>
              <input type="email" class="form-control mb-0" name="email" id="exampleInputEmail2" placeholder="Enter email">
            </div>

            <div class="d-inline-block w-100">

              <button type="submit" class="btn btn-primary float-right">Reset Password</button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="sign-in-detail text-white">
          <a class="sign-in-logo mb-5" href="#"><img src="<%= asset_path 'login/logo.png' %>" class="img-fluid" alt="logo"></a>
          <div class="slick-slider11" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
            <div class="item">
<!--              <img src="<%#= asset_path 'login/Investment App_crm.png' %>" class="img-fluid mb-4" alt="logo">-->
              <h4 class="mb-1 text-white">Automate Your Services</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
            <div class="item">
<!--              <img src="<%#= asset_path 'login/Investment App_crm.png' %>" class="img-fluid mb-4" alt="logo">-->
              <h4 class="mb-1 text-white">Automate Your Services</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
            <div class="item">
<!--              <img src="<%#= asset_path 'login/Investment App_crm.png' %>" class="img-fluid mb-4" alt="logo">-->
              <h4 class="mb-1 text-white">Automate Your Services</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

