<section class="sign-in-page">
  <div class="container bg-white mt-5 p-0">
    <div class="row no-gutters">
      <div class="col-sm-6 align-self-center">
        <div class="sign-in-from">
          <h1 class="mb-4">Reset Password</h1>
          <p class="mb-4">Enter your OTP and choose a new password.</p>
          <%= form_with(scope: :session, url: reset_user_password_path, id: 'reset-password-form') do |f| %>
            <% if params[:id].present? %>
              <input hidden type="text" value="<%= params[:id] %>" name="id">
            <% else %>
              <input hidden type="text" value="<%= @id %>" name="id">
            <% end %>

            <div class="form-group">
              <label for="otp">OTP</label>
              <input required type="text" class="form-control" name="otp" id="otp" placeholder="Enter OTP">
            </div>

            <div class="form-group">
              <label for="password">New Password</label>
              <input required type="password" class="form-control" minlength="8" name="password" id="password" placeholder="New Password">
            </div>

            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="sign-in-detail">
          <img src="<%= asset_path 'login/logo.png' %>" class="img-fluid mb-5" alt="logo">
          <div class="slick-slider11" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
            <div class="item">
<!--              <img src="<%#= asset_path 'login/Investment App_crm.png' %>" class="img-fluid mb-4" alt="slider-image">-->
              <h4 class="mb-2">Automate Your Services</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
            <div class="item">
              <!--              <img src="<%#= asset_path 'login/Investment App_crm.png' %>" class="img-fluid mb-4" alt="slider-image">-->
              <h4 class="mb-2">Enhance Your Productivity</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
            <div class="item">
              <!--              <img src="<%#= asset_path 'login/Investment App_crm.png' %>" class="img-fluid mb-4" alt="slider-image">-->
              <h4 class="mb-2">Connect with Your Audience</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
